@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@theme{
  --color-car:#57939A;
  --color-navb:#383838;
  --color-log:#10DCF6;
  --color-vaxcom:#383838;
  --color-logofro:#00E2FF;
  --color-logoto:#6EB5BE;
  --color-numfro:#64D9E4;
  --color-numto:#006E79;
  --color-FAQfrom : #E2F2FF;
  --color-FAQto : #99CAD2;
  --color-gray: #E5E7EB;

} 

.gradient-text {
  background: linear-gradient(to right, #64D9E4, #006E79);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}