.bar-graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.graph-title {
  color: #383838;
  font-size: 32px;
  margin-bottom: 80px;
  font-weight: 800;
}

.recharts-bar-rectangle {
  transition: transform 0.8s ease-in-out;
}

.recharts-bar-rectangle:hover {
  transform: scaleY(1.1);
}

.recharts-cartesian-axis-tick text {
  fill: #383838 !important;
  font-size: 14px;
}
